spring:
  datasource:
    url: ${DB_NAME:jdbc:postgresql://localhost:5432/cryptoscreener}
    username: ${DB_USER}
    password: ${DB_PASS}
  liquibase:
    enabled: true
    change-log: ${CHANGELOG_PATH:classpath:db/changelog-master.yml}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

logging:
  level:
    liquibase: info

migration:
  exit-after-run: ${MIGRATION_EXIT_AFTER_RUN:true}
